h1{
	font-family: 'Roboto Condensed';
	font-size: 50px; 
	letter-spacing: 8px;
	color: #fff;
	position: relative;
	pointer-events: none;
	text-shadow: 0 0 2px #FF0000, 0 0 30px #FF0000, 5px 9px 5px #333, 0 0 150px #FF0000; 
}

body {
background-image: url("fond.jpg");
background-size: cover;
text-align: center;
overflow: hidden;
}

h2 {
	font-size: 2.2em;
	color: #864526;
	padding: 20px 10px 5px 10px;	
}

h3 {
	font-size: 1.8em;
	font-weight: normal;
	padding: 20px 10px 5px 10px;	
}

p1,#champsPseudos {	
color: #fff;
padding:10px; margin: 0;
}

input{
background-color: black;
color: #fff;
text-align: center;
}

#suivant1, #suivant2{
width: 80px;
height: 40px;
border-color: #FF0000;
background-color: black;
color: #fff;
border-radius: 6cm;
}
afficherPseudos{
transition-duration: 1000ms;
}

#suivant1:hover, #suivant2:hover{
	background-color: #9e072c;
	transform: scale(1.05);
 }


 
  
 